@import url('https://fonts.googleapis.com/css2?family=Carme&family=Libre+Baskerville:wght@400;700&display=swap');

html { 
  background: url("/img/soft_white2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
  margin: 0;
}

.card {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: whitesmoke; 
  opacity: 0.93;
}

.title {
  font-family: 'Carme', sans-serif;
  font-family: 'Libre Baskerville', serif;
}

.search {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.button1 {
  background-color: #03576D;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin: auto;
  width: 50%;
  padding: 10px;
  opacity: 0.95;
}

.button2 {
  background-color: #03576D;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.logoutbutton {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.punch-button {
  background-color: #982304;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin: auto;
  width: 50%;
  padding: 40px;
}
.footer{


}